/************************************************************
Buttons
*************************************************************/

.btn {
  position: relative;
  display: inline-block;
  border: 2px solid $primary;
  padding: 10px 25px;
  background: $gray;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $text-font;
  font-size: 20px;
  font-weight: 600;
  color: $primary;
  transition: background $transition-duration, color $transition-duration;

  &:focus,
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $gray;
  }
}
