/************************************************************
Hero
*************************************************************/

.hero {
    background-color: $yellow;
    text-align: center;
    padding: ($base-padding * 2);
    margin-top: ($base-margin * 3);
}