/************************************************************
Images
*************************************************************/

.img-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-sm) { flex-direction: row; }

    &__item {

        @media (min-width: $screen-sm) { flex: 0 0 50%; }

        @media (min-width: $screen-md) { flex: 0 0 33%; }
    }

    &__img {
        padding: 5px;
        width: 100%;
        // height: 300px;
        object-fit: cover;
    }
}
