/************************************************************
Images
*************************************************************/

.img-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: $base-margin;

    &__item {
        flex: 0 0 33%;
    }

    &__img {
        padding: 5px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}
