/************************************************************
Buttons
*************************************************************/

.select-menu {

    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin-right: 0;

    &:last-child { margin-top: $base-margin; }

    @media (min-width: $screen-sm) {
        margin-right: ($base-margin * 2);
        margin-top: 0;

        &:last-child { margin-top: 0; }
    }

    &__wrapper {
        position: relative;
        display: flex;
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 350px;
        padding-left: $base-padding;
        height: 51px;
        font-size: 20px;
        font-family: $text-font;
        font-weight: 600;
        background: $gray;
        border: 2px solid $primary;
        border-radius: 0;
        text-transform: uppercase;
        color: $primary;
    }

    &__label {
        text-transform: uppercase;
        font-weight: 600;
    }

    &__icon {
        height: 15px;
        width: 15px;
        position: absolute;
        top: 50%;
        right: 8px;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-sm) { flex-direction: row; }
}