/************************************************************
Typography
*************************************************************/


/* Global Typographic Treatment */

html,
body {
    background-color: $gray;
    line-height: $base-line-height;
    font-family: $text-font;
    font-size: $base-font-size;
    color: $text-color;
}

/* Headers */

h1,
.h1 {
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 48px;
    color: $primary;
}

h2,
.h2 {
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 20px;
    color: $primary;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: $primary;
}