/************************************************************
Variable Declaration
*************************************************************/

/* Colors */
$primary: #222;
$yellow: #f9dd17;
$gray: #f7f7f7;

$default-black: #000;
$default-white: #fff;

/* Primary Heading Font */
$primary-font: 'Gloria Hallelujah', sans-serif;

/* Base Body Text Font */
$text-font: 'Open Sans', sans-serif;

$text-color: $primary;
$heading-color: $default-black;

$base-font-size: 16;
$base-line-height: 1.5;

$base-margin: 15px;
$base-padding: 15px;

$transition-duration: .2s;
